<!DOCTYPE html>
<html>
<head>
  <title>HappyMoney</title>
  <%= stylesheet_link_tag    "happy_money/application", media: "all" %>
  <%= javascript_include_tag "happy_money/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
